{{!< default}}

<div class="container medium">
    <div class="" style="display:flex;justify-content:center;text-align:center;">
        <h2 class="" style="font-weight: bold; font-size: 2em;">
            Chicano Culture SB Archive
            </h2>
    </div>
            <hr>
</div>
<div class="content-area">
    <main class="site-main">
        <div class="post-feed expanded container medium">
            {{^unless @member}}
                {{#foreach posts}}
                    {{> "loop"}}
                {{/foreach}}
            {{else}}
                {{#foreach posts}}
                    {{> "loop"}}
                {{/foreach}}
            {{/unless}}
        </div>
        {{pagination}}

    </main>
</div>

{{#contentFor "body_class"}}{{#if next}} paged-next{{/if}}{{#if @site.cover_image}} with-full-cover{{/if}}{{/contentFor}}